### 1. 문자열 더하기

In [2]:
a = '5'
b = '7'
print(a + b)

c = a + b
print(type(c))

57
<class 'str'>

### 2. 변수에 입력 받기

In [19]:
x = input('숫자를 입력하세요.')
y = input('숫자를 입력하세요.')
print(x)
print(y)

print(x + y)
print(type(x))
print(type(y))

x1 = int(x)
print(x1)
print(type(x1))

y1 = int(y)
print(y1)
print(type(y1))

print(x1 + y1)

숫자를 입력하세요. 100
숫자를 입력하세요. 2

100
2
1002
<class 'str'>
<class 'str'>
100
<class 'int'>
2
<class 'int'>
102

#### 3. 성적 평균 구하기

In [52]:
korean_Score = input('국어성적 입력하세요')
math_Score = input('수학성적 입력하세요')
english_Score = input('영어성적 입력하세요')

korean_Score = float(korean_Score)
math_Score = float(math_Score)
english_Score = float(english_Score)

add = korean_Score + math_Score + english_Score
print(add)

korean_Score = int(korean_Score)
math_Score = int(math_Score)
english_Score = int(english_Score)

add = korean_Score + math_Score + english_Score
avg = add / 3
print(avg)

print('점수 합계는 %d 입니다. 평균은 %.2f 입니다.' %(add, avg))

국어성적 입력하세요 40
수학성적 입력하세요 50
영어성적 입력하세요 60

150.0
50.0
점수 합계는 150 입니다. 평균은 50.00 입니다.

In [45]:
name = input('이름을 입력하세요')
print('내 이름은 ' + name + ' 입니다')

이름을 입력하세요 사공현호

내 이름은 사공현호 입니다

In [53]:
print('-' * 50)

--------------------------------------------------

In [67]:
name = input('이름 : ')
korean = int(input('국어 : '))
english = int(input('영어 : '))
math = int(input('수학 : '))

'''
korean = int(korean)
english = int(english)
math = int(math)
'''

total = korean + english + math
average = total / 3

print('-' * 100)
print("이름:%s\t 국어:%d\t 영어:%d\t 수학:%d\t총점:%d\t평균:%.2f" %(name, korean, english, math, total, average))
print('이름 :', name,'\t국어 :', korean,'\t영어 :', english,'\t수학 :', math,'\t총합 :', total,'\t평균 :%.2f'%(average))

이름 :  사공
국어 :  20
영어 :  50
수학 :  60

----------------------------------------------------------------------------------------------------
이름:사공	 국어:20	 영어:50	 수학:60	총점:130	평균:43.33
이름 : 사공 	국어 : 20 	영어 : 50 	수학 : 60 	총합 : 130 	평균 :43.33

### 4. 불린 자료형

In [73]:
data = 50
score = 100
a = data > score

print( data < score )
print( data <= score )
print( data > score )
print( data >= score )
print( data == score )
print( data != score )
print(type(a))

print( score % data )

True
True
False
False
False
True
<class 'bool'>
0

In [74]:
score = 10
print( score >= 0 and score <= 100 )
print( score >= 0 or score <= 100 )

True
True

In [75]:
a = int(input('숫자를 입력하세요'))
b = int(input('숫자를 입력하세요'))

print( a < b )
print( a <= b )
print( a > b )
print( a >= b )
print( a == b )
print( a != b )

숫자를 입력하세요 30
숫자를 입력하세요 40

True
True
False
False
False
True