### 1. break continue

### break

In [2]:
i = 1
while i < 6:
    if i == 3:
        break
    print(i)
    
    i += 1

1
2

### continue

In [3]:
i = 0 
while i < 6:
    i += 1
    
    if i == 3:
        continue
    print(i)

1
2
4
5
6

### while ~ else

In [8]:
i = 1
while i < 6:
    print(i)
    i += 1
else:       #while 끝난 후 else 실행
    print(' end ' )

1
2
3
4
5
 end

### 2. list

In [24]:
my_fruits = list()
my_cars = list()

print(my_fruits, type(my_fruits))
print(my_car, type(my_car))

[] <class 'list'>
['suv', 'suv'] <class 'list'>

In [36]:
my_fruits.append('apple')
my_fruits.append('orange')
my_fruits.append('banana')
my_cars.append('suv')
print(my_fruits, type(my_fruits))
print(my_car, type(my_car))

['orange', 'orange', 'banana', 'apple', 'apple', 'orange', 'banana'] <class 'list'>
['suv', 'suv'] <class 'list'>

In [29]:
my_fruits.insert(10,'orange')
print(my_fruits, type(my_fruits))
print(my_cars, type(my_car))

['apple', 'orange', 'banana', 'orange', 'orange'] <class 'list'>
['suv'] <class 'list'>

In [28]:
print(len(my_fruits))
print(len(my_cars))

4
1

In [32]:
print(my_fruits)

my_fruits.remove(my_fruits[0])
print(my_fruits)

['banana', 'orange']
['orange']

In [35]:
print(my_fruits)

my_fruits.sort(reverse = True)
print(my_fruits)

['apple', 'banana', 'orange', 'orange']
['orange', 'orange', 'banana', 'apple']

In [40]:
print(my_fruits)
a = my_fruits.pop(1)
print(a)
print(my_fruits)

['orange', 'orange', 'banana', 'orange']
orange
['orange', 'orange', 'banana']

### 3. tuple

In [49]:
my_car = tuple()
my_fruits = ()

print(my_fruits, type(my_fruits))
print(my_car, type(my_car))

() <class 'tuple'>
() <class 'tuple'>

In [61]:
my_fruits = ('orange', 'apple', 'banana', 'apple')

print(my_fruits, type(my_fruits))

('orange', 'apple', 'banana', 'apple') <class 'tuple'>

## tuple -> list
## list -> tuple

In [73]:
my_fruits_list = list(my_fruits)  #튜플 -> 리스트
print(my_fruits_list, type(my_fruits_list))

my_fruits_list.append('mango') 
print(my_fruits_list)

my_fruits_tuple = tuple(my_fruits_list) #리스트 -> 튜플
print(type(my_fruits_tuple))

a = my_fruits_tuple.count('apple')
print(my_fruits_tuple)
print(a)

['orange', 'apple', 'banana', 'apple'] <class 'list'>
['orange', 'apple', 'banana', 'apple', 'mango']
<class 'tuple'>
('orange', 'apple', 'banana', 'apple', 'mango')
2

### 3. set

##### 만들기

In [78]:
my_fruits = {}
my_car = set()

my_car.add('bmw')
my_car.add('bmw')
my_car.add('hyundai')
my_car.add('gia')

print(my_car)
print(type(my_fruits))

{'gia', 'hyundai', 'bmw'}
<class 'dict'>

In [79]:
print('bmw' in my_car)

True

##### 입력받아서 추가

In [84]:
score_list = list()
score = int(input('점수입력'))
score_list.append(score)
print(score_list)

점수입력 30

[30]

##### 5개 입력받아서 리스트에 추가

In [87]:
list_for = list()
for i in range(5):
    score = int(input('점수입력'))
    list_for.append(score)
print(list_for)

list_while = list()
i = 1
while i < 6:
    score2 = int(input('점수 입력'))
    list_while.append(score2)
    i += 1
print(list_while)

점수입력 10
점수입력 20
점수입력 30
점수입력 40
점수입력 50

[10, 20, 30, 40, 50]

점수 입력 10
점수 입력 20
점수 입력 30
점수 입력 40
점수 입력 50

[10, 20, 30, 40, 50]

In [88]:
total = 0
list_total = list()
for n in range(1,6):
    score = int(input('%d번째 점수를 입력하세요.'%n))
    list_total.append(score)
for n in list_total:
    total = total + n
print(total)

1번째 점수를 입력하세요. 1
2번째 점수를 입력하세요. 2
3번째 점수를 입력하세요. 3
4번째 점수를 입력하세요. 4
5번째 점수를 입력하세요. 5

15

In [90]:
total = 0
list_total = list()
i = 1
while i < 6:
    score = int(input('%d번째 점수를 입력하세요.' %(i)))
    list_total.append(score)
    total = total + list_total[i-1]
    i += 1
print(total)

1번째 점수를 입력하세요. 10
2번째 점수를 입력하세요. 20
3번째 점수를 입력하세요. 30
4번째 점수를 입력하세요. 40
5번째 점수를 입력하세요. 50

150

### 4. dictionary

In [102]:
my_dict = {'name' : '사공현호',
           'age' : 28, 
           'gender' : True}

print(my_dict, type(my_dict))
print(len(my_dict))

{'name': '사공현호', 'age': 28, 'gender': True} <class 'dict'>
3

In [97]:
keys = my_dict.keys()
values = my_dict.values()
items = my_dict.items()
print(keys, type(keys))
print(values, type(values))
print(items, type(items))

dict_keys(['name', 'age', 'gender']) <class 'dict_keys'>
dict_values(['사공현호', 28, True]) <class 'dict_values'>
dict_items([('name', '사공현호'), ('age', 28), ('gender', True)]) <class 'dict_items'>

In [99]:
name = my_dict.get('name')
print(name, type(name))

name = my_dict['name']
print(name)

사공현호 <class 'str'>
사공현호

In [103]:
print(my_dict)
my_dict['age'] = 30
my_dict['addr'] = 'seoul'
print(my_dict)

{'name': '사공현호', 'age': 28, 'gender': True}
{'name': '사공현호', 'age': 30, 'gender': True, 'addr': 'seoul'}

In [3]:
person = [
    {'name' : '홍길동',
     'age' : 22,
     'gender' : '남'},
    {'name' : '임꺽정',
     'age' : 30,
     'gender' : '남'}
]

print(person, type(person))

[{'name': '홍길동', 'age': 22, 'gender': '남'}, {'name': '임꺽정', 'age': 30, 'gender': '남'}] <class 'list'>

In [4]:
name_list = list()
age_list = list()
gender_list = list()
for i in person:        #key값만 모으기
    name_list.append(i['name'])
    age_list.append(i['age'])
    gender_list.append(i['gender'])
print(name_list)
print(age_list)
print(gender_list)

value_l = list()
key_l = list()
item_l = list()
for i in person:       # value, key, item값 별로 모으기
    value_l.append(i.values())
    key_l.append(i.keys())
    item_l.append(i.items())
print(value_l)
print(key_l)
print(item_l)

['홍길동', '임꺽정']
[22, 30]
['남', '남']
[dict_values(['홍길동', 22, '남']), dict_values(['임꺽정', 30, '남'])]
[dict_keys(['name', 'age', 'gender']), dict_keys(['name', 'age', 'gender'])]
[dict_items([('name', '홍길동'), ('age', 22), ('gender', '남')]), dict_items([('name', '임꺽정'), ('age', 30), ('gender', '남')])]