### 1. return

In [7]:
def my_add(a, b):
    x = a + b
    
    #return x

In [8]:
a = my_add(10, 20)
print(a)

None

-----

In [17]:
def my_evenodd(n):
    if n % 2 == 0:
        return '짝수'
        #s = '짝'
    else:
        return '홀수'
        #s = '홀'

In [16]:
n = int(input('숫자입력하세요.'))
a = my_evenodd(n)
print(a)

숫자입력하세요. 19

홀

In [22]:
def my_addsub(a, b):
    add = a + b
    sub = a - b
    
    return add, sub

In [27]:
y = my_addsub(10, 5)
print(type(y))
print(y[0], y[1])
z = list(y)
print(z)

<class 'tuple'>
15 5
[15, 5]

-----

##### 원 넓이 구하는 함수

In [28]:
def circle_area(n):
    area = 3.14 * (n ** 2)
    
    return area

In [30]:
n = int(input('반지름 길이 = '))
a = circle_area(n)
print(a , type(a))

반지름 길이 =  5

78.5 <class 'float'>

-----

##### 가족 이름 출력하기

변수앞에 * 붙으면 tuple 자료형

In [54]:
def my_family(*name):
    for i in name:
        print(i)
    print(type(name))

In [55]:
my_family('a')
my_family('a', 'b')
my_family('a', 'b', 'c')

a
<class 'tuple'>
a
b
<class 'tuple'>
a
b
c
<class 'tuple'>

-----

변수가 dict 자료형 일 때

In [86]:
def my_family(**name):
    print(name)
    print(name['name1'], name['name2'])
    print(type(name))

In [87]:
my_family(name1 = 'kim', name2 = 'lee')

{'name1': 'kim', 'name2': 'lee'}
kim lee
<class 'dict'>

-----

숫자 n개 일때 합을 구하는 함수

In [49]:
def total_add(*num):
    tot = 0
    for i in num:
        tot = tot + i
    
    return tot

In [50]:
a = total_add(1,2,3,4)
print(a)

10

In [47]:
def total_add1(*num):
    print(num)
    tot = 0
    for i in num:
        for j in i: 
            tot = tot + j
    
    return tot

In [48]:
num = (1,2,3,4)
a = total_add1(num)
print(a)

((1, 2, 3, 4),)
10

---

함수 기본값 설정

In [29]:
def my_country(country = 'Korea'):
    print(country)

In [30]:
my_country()
my_country('USA')

Korea
USA

In [31]:
def my_country(stats, country = 'Korea'):     # 기본값 설정 된 변수가 앞에 오면 (country = 'korea' , state) error
    print(state, countr)

---

숫자 n개 입력받아서 합 구하기

In [52]:
def add_func(n, total_list):
    total = 0
    for i in total_list:
        total = total + i
        
    return total

In [54]:
n = int(input('합 구할 숫자 갯수 입력 : '))
total_list = []
for i in range(n):
    num = int(input('숫자를 입력하세요 : '))
    total_list.append(num)
    
total = add_func(n, total_list)
print(total)

합 구할 숫자 갯수 입력 :  5
숫자를 입력하세요 :  10
숫자를 입력하세요 :  20
숫자를 입력하세요 :  30
숫자를 입력하세요 :  40
숫자를 입력하세요 :  50

150

---

입력 받는 함수 따로 만들어서

In [76]:
def input_(n):
    input_list = list()
    for i in range(n):
        a = int(input('숫자를 입력하세요 : '))
        input_list.append(a)
    
    return input_list #list

In [78]:
def total_(n): # n = list
    total = 0
    #n = input_(n)
    for i in n:
        total = total + i
        
    return total

In [79]:
n = int(input('횟수를 입력하세요 : '))
input_list = input_(n)
total = total_(input_list)
print(input_list, total)

#print(total)

횟수를 입력하세요 :  3
숫자를 입력하세요 :  1
숫자를 입력하세요 :  2
숫자를 입력하세요 :  3

[1, 2, 3] 6

---