### 1. Class

In [45]:
class Car():
    def __init__(self, id, name, speed):
        self.id = id
        self.name = name
        self.speed = speed
        
    def my_print(self):
        print(self.id, self.name, self.speed)
    
    def get_id(self):
        return self.id
    
    def get_name(self):
        return self.name

In [49]:
c1 = Car('5555', 'bmw', 100) # 객체 생성
c2 = Car('4444', 'benz', 200)

# print(c1.id, c1.name, c1.speed)
# print(c2.id, c2.name, c2.speed)

c1.my_print()
c2.my_print()

a = c1.get_id()
print(a)
b = c2.get_id()
print(b)
c = c1.get_name()
print(c)
d = c2.get_name()
print(d)

5555 bmw 100
4444 benz 200
5555
4444
bmw
benz

In [50]:
cars = [c1, c2]

In [35]:
print(type(c1))
print(type(c1.my_print()))

<class '__main__.Car'>
5555 bmw 100
<class 'NoneType'>

---

In [41]:
class Person():
    def __init__(self, name, age):
            self.name = name
            self.age = age
            
    def my_print(self):
        print(self.name, self.age)

In [40]:
p1 = Person('a', 28)
p1.my_print()

a 28

In [63]:
class Student():
    def __init__(self, name, kor, eng, math):
        self.name = name
        self.kor = kor
        self.eng = eng
        self.math = math
    
    def get_name(self): 
        return self.name
    
    def get_kor(self): 
        return self.kor
    
    def get_eng(self): 
        return self.eng
    
    def get_math(self): 
        return self.math
    
    def get_total(self): #한 학생 총점 
        total =  self.kor + self.eng + self.math
        return total

In [67]:
s_list = list()
for i in range(5):
    name = input('이름')
    kor = int(input('국어'))
    eng = int(input('영어'))
    math = int(input('수학'))
    si = Student(name, kor, eng, math)
    s_list.append(si)
'''
s1 = Student('a', 1, 2, 3)
s2 = Student('b', 3, 4, 5)
s3 = Student('c', 5, 6, 7)
s_list = [s1, s2, s3]
'''
kor_total = 0
eng_total = 0
math_total = 0

for i in s_list:
    kor_total = kor_total +  i.get_kor()
    eng_total = eng_total + i.get_eng()
    math_total = math_total + i.get_math()
    print(i.get_total())
print(kor_total, eng_total, math_total)

이름 김
국어 10
영어 20
수학 30
이름 이
국어 30
영어 40
수학 50
이름 박
국어 60
영어 50
수학 40
이름 최
국어 20
영어 10
수학 60
이름 민
국어 20
영어 40
수학 50

60
120
150
90
110
140 160 230