In [2]:
import pandas as pd
data = pd.read_csv('2017교통사고현황.csv')

data

              발생일  발생시간 발생지_시도 발생지_시군구    법정동명  사고건수  사망자수  중상자수  경상자수  부상신고자수
0      2017-01-01     0     서울     강북구     미아동     1     0     1     6       0
1      2017-01-01     0     서울     노원구     상계동     1     0     0     1       0
2      2017-01-01     0     서울     동작구     상도동     1     0     0     1       0
3      2017-01-01     0     서울     서초구     서초동     1     0     0     1       0
4      2017-01-01     0     서울     송파구     잠실동     1     0     0     1       0
...           ...   ...    ...     ...     ...   ...   ...   ...   ...     ...
37925  2017-12-31    23     서울     송파구     방이동     1     0     0     7       0
37926  2017-12-31    23     서울    영등포구  영등포동5가     1     0     0     1       1
37927  2017-12-31    23     서울      중구  남대문로5가     1     0     1     1       0
37928  2017-12-31    23     서울      중구   장충동2가     1     0     2     1       0
37929  2017-12-31    23     서울     중랑구     망우동     1     0     0     3       0

[37930 rows x 10 columns]

In [3]:
df_aci = pd.DataFrame({'발생일' : data['발생일'],
                         '사고건수' : data['사고건수']})
df_aci

              발생일  사고건수
0      2017-01-01     1
1      2017-01-01     1
2      2017-01-01     1
3      2017-01-01     1
4      2017-01-01     1
...           ...   ...
37925  2017-12-31     1
37926  2017-12-31     1
37927  2017-12-31     1
37928  2017-12-31     1
37929  2017-12-31     1

[37930 rows x 2 columns]

In [4]:
df_aci.loc[0]['발생일']

'2017-01-01'

In [5]:
df = pd.DataFrame()
day = '0'
for i in df_aci.loc():
    tot_aci = 1
    if i['발생일'] == day:
        tot_aci += 1
    else:
        df['발생일'] = day
        df['사고건수'] = tot_aci
        a = i['발생일']
df

KeyError: 37930

다르면 날자(a)  / 사고몇번(tot_aci) 를 입력

In [ ]:
df = pd.DataFrame({'발생일' : a,
                   '사고건수' : tot_aci})

pandas.core.frame.DataFrame