In [113]:
import pandas as pd
import numpy as np
data = pd.read_csv('2017교통사고현황.csv')

In [116]:
#발생일, 사고건수 정보만 가진 df 새로 생성
data_aci = pd.DataFrame({'day' : data['발생일'],
                         'count' : data['사고건수']})

# #발생일, 사고건수만 묶어서 인덱스 번호 재부여
df_aci = data_aci.groupby('day').count().reset_index(level = ['day'])

df_aci

            day  count
0    2017-01-01     69
1    2017-01-02     82
2    2017-01-03     87
3    2017-01-04    114
4    2017-01-05    101
..          ...    ...
360  2017-12-27     91
361  2017-12-28     91
362  2017-12-29    117
363  2017-12-30     82
364  2017-12-31     71

[365 rows x 2 columns]

---

In [4]:
import pandas as pd
import numpy as np
df_aci = pd.read_csv('17사고현황수정.csv')

df_aci

            day  count
0    2017-01-01     69
1    2017-01-02     82
2    2017-01-03     87
3    2017-01-04    114
4    2017-01-05    101
..          ...    ...
360  2017-12-27     91
361  2017-12-28     91
362  2017-12-29    117
363  2017-12-30     82
364  2017-12-31     71

[365 rows x 2 columns]

index = False 없으면 저장할때마다 계속 index값이 새로 추가되서 찍힘

In [5]:
# 발생일, 사고건수만 정리한 내용 파일로 저장
df_aci.to_csv('사고현황1.csv', mode = 'w', index = False)

---

In [ ]:
import requests
from selenium import webdriver

#브라우저 생성
driver = webdriver.Chrome('../driver/chromedriver')
#브라우저 열기
driver.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2017&mm=1&obs=9')
weather = driver.find_elements_by_tag_name

C:\Users\BIT\AppData\Local\Temp/ipykernel_10788/740026575.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('../driver/chromedriver')

<selenium.webdriver.remote.webelement.WebElement (session="6a0e641578430de4b162a9dc72290009", element="af3fd944-f9c3-469b-b10c-447624043d40")>

C:\Users\BIT\AppData\Local\Temp/ipykernel_10788/740026575.py:8: DeprecationWarning: find_elements_by_* commands are deprecated. Please use find_elements() instead
  weather = driver.find_elements_by_css_selector('body > div.container > section > div > div.cont-wrap > div.cmp-past-obs > div:nth-child(3) > div > table > tbody > tr:nth-child(1)')

In [71]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

#response = requests.get('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2017&mm=1&obs=9')
#html_doc = response.text

#soup = BeautifulSoup(html_doc, "html.parser")

In [72]:
def get_adress(adress):
    response = requests.get(adress)
    html_doc = response.text

    soup = BeautifulSoup(html_doc, "html.parser")
    
    return soup

In [107]:
def get_address(adress):
    response = requests.get(adress)
    html_doc = response.text

    soup = BeautifulSoup(html_doc, "html.parser")
    
    for i in range(5):
        weak_day = soup.select_one('body > div.container > section > div > div.cont-wrap > div.cmp-past-obs > div:nth-child(3) > div > table > tbody > tr:nth-child(%d)'%((i+1)*2-1))
        day = weak_day.select('tr > td > span')

        weak_weather = soup.select_one('body > div.container > section > div > div.cont-wrap > div.cmp-past-obs > div:nth-child(3) > div > table > tbody > tr:nth-child(%d)'%((i+1)*2))
        weather = weak_weather.select('tr > td ')

        weather_jan = pd.DataFrame()

        for i in day:
            if i == '\xa0':
                continue
            else:
                day_list.append(i.text)

        for j in weather:
            if j == ' \xa0 ':
                continue
            else:
                weather_day = re.sub('\n', ' ', j.text)
                weather_list.append(weather_day)

In [111]:
day_list = list()
weather_list = list()

In [112]:
get_address('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2017&mm=1&obs=9')

print(day_list)
print(weather_list)

['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일', '\xa0', '\xa0', '\xa0', '\xa0']
[' 박무   연무 ', ' 비   박무   연무 ', ' 박무   연무 ', ' 박무   연무 ', ' ', ' ', ' 박무   연무 ', ' 비   박무   연무 ', ' 비   박무   연무 ', ' 연무 ', ' ', ' 눈 ', ' 눈 ', ' ', ' ', ' ', ' 연무 ', ' 눈   연무 ', ' 박무   연무 ', ' 눈   박무   연무 ', ' 눈   박무   연무 ', ' 눈   연무 ', ' 연무 ', ' ', ' 연무 ', ' 비   박무   연무 ', ' 비   박무   황사 ', ' ', ' 눈   진눈깨비   박무 ', ' 눈   박무 ', ' ', ' \xa0 ', ' \xa0 ', ' \xa0 ', ' \xa0 ']

In [103]:
def get_data(soup):
    for i in range(5):
        weak_day = soup.select_one('body > div.container > section > div > div.cont-wrap > div.cmp-past-obs > div:nth-child(3) > div > table > tbody > tr:nth-child(%d)'%(i+1)*2-1)
        day = weak_day.select('tr > td > span')

        weak_weather = soup.select_one('body > div.container > section > div > div.cont-wrap > div.cmp-past-obs > div:nth-child(3) > div > table > tbody > tr:nth-child(%d)'%((i+1)*2))
        weather = weak_weather.select('tr > td ')

        weather_jan = pd.DataFrame()

        for i in day:
            day_list.append(i.text)

        for j in weather:
            weather_day = re.sub('\n', ' ', j.text)
            weather_list.append(weather_day)
    
print(day_list)
print(weather_list)

['1일', '2일', '3일', '4일', '5일', '6일', '7일', '8일', '9일', '10일', '11일', '12일', '13일', '14일', '15일', '16일', '17일', '18일', '19일', '20일', '21일', '22일', '23일', '24일', '25일', '26일', '27일', '28일', '29일', '30일', '31일', '\xa0', '\xa0', '\xa0', '\xa0']
[' 박무   연무 ', ' 비   박무   연무 ', ' 박무   연무 ', ' 박무   연무 ', ' ', ' ', ' 박무   연무 ', ' 비   박무   연무 ', ' 비   박무   연무 ', ' 연무 ', ' ', ' 눈 ', ' 눈 ', ' ', ' ', ' ', ' 연무 ', ' 눈   연무 ', ' 박무   연무 ', ' 눈   박무   연무 ', ' 눈   박무   연무 ', ' 눈   연무 ', ' 연무 ', ' ', ' 연무 ', ' 비   박무   연무 ', ' 비   박무   황사 ', ' ', ' 눈   진눈깨비   박무 ', ' 눈   박무 ', ' ', ' \xa0 ', ' \xa0 ', ' \xa0 ', ' \xa0 ']

In [ ]:
soup = get_adress('https://www.weather.go.kr/w/obs-climate/land/past-obs/obs-by-day.do?stn=108&yy=2017&mm=1&obs=9')
#type(soup)
get_data(soup)

print(day_list)
print(weather_list)

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [ ]:
#1주단위 추출
weak_day = soup.select_one('body > div.container > section > div > div.cont-wrap > div.cmp-past-obs > div:nth-child(3) > div > table > tbody > tr:nth-child(1)')
day = weak_day.select('tr > td > span')

weak_weather = soup.select_one('body > div.container > section > div > div.cont-wrap > div.cmp-past-obs > div:nth-child(3) > div > table > tbody > tr:nth-child(2)')
weather = weak_weather.select('tr > td ')

weather_jan = pd.DataFrame()

#day_list = list()
#weather_list = list()
for i in day:
    day_list.append(i.text)

for j in weather:
    weather_day = re.sub('\n', ' ', j.text)
    weather_list.append(weather_day)
    
print(day_list)
print(weather_list)

['1일', '2일', '3일', '4일', '5일', '6일', '7일']
[' 박무   연무 ', ' 비   박무   연무 ', ' 박무   연무 ', ' 박무   연무 ', ' ', ' ', ' 박무   연무 ']

In [ ]:
body > div.container > section > div > div.cont-wrap > div.cmp-past-obs > div:nth-child(3) > div > table > tbody > tr:nth-child(3)